@import "nib/vendor"
@import "nib/positions"

*
  box-sizing border-box
body
  font-family Arial, sans-serif
  font-size 14px
  margin 0
  padding 0
  overflow hidden
h1
  display none


// Basic Layout
html, body, #Main, #Side
  height 100%
#Main
  position relative


// Side menu
#Main
  padding-right 2rem
#Side
  absolute top right
  transform translateX(100%)
  padding 0 2rem 1rem 2rem
  background rgba(255, 255, 255, 0.8)
  box-shadow -2rem 0 3rem #AAA
  transition all 400ms ease-in-out
  &:hover
    transform translateX(0%)
    box-shadow -2rem 0 3rem #666
  &::before
    content ""
    background-image linear-gradient(#F7F7F7 0%, #F7F7F7 50%, #CCC 50%, #CCC 100%)
    background-size 2px 2px
    border-right 1px solid #CCC
    border-left 1px solid #CCC
    display block
    width 2rem
    height 100vh
    cursor pointer
    position absolute
    top 0
    left -2rem




// Slide bar content
dt, dd {
	display: inline-block;
	float:left;
	margin:0 0 12px 0;
}
p, dt {
	clear: both;
}
dd {
	padding-left:8px;
}
a:link, a:visited {
	color: #0069d6;
	text-decoration: none;
}
a:hover, a:active{
	color: #00438a;
	text-decoration: underline;
}


/* Canvas and editor */
canvas
  display block
  cursor crosshair
  border-bottom 1px solid #CCC
.CodeMirror
  border-top 2rem solid #F7F7F7 // color taken from CodeMirror's theme
  cursor text
  height 50vh
  width 100%
div.CodeMirror
  font-size 16px
  line-height 1.5
.CodeMirror-scroll
  height 50vh
.CodeMirror-code
  border-top 1px solid #CCC
[class^=CodeMirror-lint-marker-]
  margin-bottom 2px
div.CodeMirror .CodeMirror-lines
  padding 0
div.CodeMirror .CodeMirror-activeline
  background rgba(0, 105, 214, 0.1)
div.CodeMirror .CodeMirror-matchingbracket
  font-weight bold


// Form elements
.buttons
  position absolute
  bottom 0
  right 2rem // Side bar
  z-index 1337
  padding 1rem
  transition all 400ms
  opacity 0.5
  &:hover
    opacity 1
input[type="button"]
  font-size 1.25rem
  cursor pointer
  margin 0 0.5rem
  padding 0.5rem 1rem
  border-radius 0.25rem
#Execute
  border 1px solid #333
  background green
  color #FFF
#Reset
  border 1px solid #333
  background #C00
  color #FFF


// Cursor coordinates
.cursor
  position absolute
  top 0.7rem
  right 3.5rem // Side bar
  z-index 0
  padding 0.5rem 1rem
  width 152px
  background rgba(#FFF, 0.8)
  border-radius 0.5rem
  margin 0