/* Basic Layout */
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	margin:8px 16px;
}
h1 {
	display:none;
}
#Main {
	float:left;
	width:640px;
}
#Side {
	float:left;
	padding-left:24px;
}

/* Slidebar content */
dt, dd {
	display: inline-block;
	float:left;
	margin:0 0 12px 0;
}
p, dt {
	clear: both;
}
dd {
	padding-left:8px;
}
a:link, a:visited {
	color: #0069d6;
	text-decoration: none;
}
a:hover, a:active{
	color: #00438a;
	text-decoration: underline;
}
input {
	position: relative;
	top: -3px;
	max-width: 50%;
}


/* Canvas and editor */
canvas {
	display:block; cursor:crosshair;
}
.CodeMirror {
	cursor:text;
}
canvas, .CodeMirror {
	border:1px solid #333;
	box-shadow:0 0 16px -4px #999;
}
div.CodeMirror {
	font-size: 16px;
	line-height: 1.5;
}
[class^=CodeMirror-lint-marker-] {
	margin-bottom: 2px;
}
div.CodeMirror .CodeMirror-lines {
	padding: 0;
}
div.CodeMirror .CodeMirror-activeline {
	background: rgba(0, 105, 214, 0.1);
}
div.CodeMirror .CodeMirror-matchingbracket {
	font-weight: bold;
}

/* Form elements */
#Execute {
	font-weight:bold;
}
#Reset {
	float:right;
}